.messageListContainer {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.messageListContainer.loading {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.scrollArea {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.messageContainer {
  display: flex;
  flex-direction: column; /* Ensure messages stack from top to bottom */
  padding: 16px 16px 48px;
  height: 100%;
  width: 950px;
}

.sendingIndicator {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.dateSeparatorWrapper {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

@media (max-width: 1024px) {
  .messageContainer {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .messageContainer {
    margin-inline: 0;
    width: 100%;
  }
}
