:root {
  --drawer-bg: #f0f4f8; /* Default background color for light mode */
  --drawer-border-color: #ccd0d5; /* Default border color for light mode */
  --chat-item-bg: hsla(0deg, 0%, 100%, 0.8); /* Default chat item background for light mode */
  --chat-item-border-color: hsla(0deg, 0%, 72%, 0.8);
  --chat-item-hover-bg: hsla(0deg, 0%, 100%, 1); /* Chat item hover background for light mode */
  --chat-item-shadow: 0 2px 4px hsla(0deg, 0%, 0%, 0.1); /* Default chat item shadow for light mode */
  --chat-item-hover-shadow: 0 4px 8px hsla(0deg, 0%, 0%, 0.2); /* Chat item hover shadow for light mode */
  --user-name-color: #36454f; /* Default user name color for light mode */
  --drawer-bg-image: radial-gradient(at 20% 80%, hsla(210deg, 50%, 90%, 0.3) 0px, transparent 50%), radial-gradient(at 60% 40%, hsla(220deg, 50%, 85%, 0.3) 0px, transparent 50%), radial-gradient(at 80% 90%, hsla(230deg, 50%, 80%, 0.3) 0px, transparent 50%), radial-gradient(at 30% 20%, hsla(240deg, 50%, 75%, 0.3) 0px, transparent 50%);
}

[data-theme='dark'] {
  --drawer-bg: #1a1b1e; /* Background color for dark mode */
  --drawer-border-color: #2c2d30; /* Border color for dark mode */
  --chat-item-bg: hsla(0deg, 0%, 20%, 0.8); /* Chat item background for dark mode */
  --chat-item-border-color: hsla(0deg, 0%, 72%, 0.8);
  --chat-item-hover-bg: hsla(0deg, 0%, 20%, 1); /* Chat item hover background for dark mode */
  --chat-item-shadow: 0 2px 4px hsla(0deg, 0%, 0%, 0.5); /* Chat item shadow for dark mode */
  --chat-item-hover-shadow: 0 4px 8px hsla(0deg, 0%, 0%, 0.7); /* Chat item hover shadow for dark mode */
  --user-name-color: #f0f4f8; /* User name color for dark mode */
  --drawer-bg-image: radial-gradient(at 20% 80%, hsla(210deg, 50%, 30%, 0.3) 0px, transparent 50%), radial-gradient(at 60% 40%, hsla(220deg, 50%, 25%, 0.3) 0px, transparent 50%), radial-gradient(at 80% 90%, hsla(230deg, 50%, 20%, 0.3) 0px, transparent 50%), radial-gradient(at 30% 20%, hsla(240deg, 50%, 15%, 0.3) 0px, transparent 50%);
}

.hiddenLogo {
  display: none;
}

.section {
  flex: 1;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.chatItem {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  border-radius: 8px;
  height: 30px;
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; /* Ensure no overflow */
  position: relative;
  color: var(--user-name-color);
}

.chatItem:hover {
  background-color: var(--mantine-color-blue-light);
}

.chatItem:hover .editIcon,
.chatItem:hover .deleteIcon {
  opacity: 1;
  visibility: visible;
}

.chatItem:hover .chatNameContainer {
  padding-right: 63px; /* Adjust this value to make space for the icons */
}

.activeChatItem {
  color: var(--user-name-color);
  background-color: var(--mantine-color-blue-light);
}

.userName {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--user-name-color);
}

.chatItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; /* Ensure no overflow */
  width: 100%;
}

.chatNameContainer {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; /* Ensure no overflow */
  width: 100%;
  /* mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%); */
  transition: padding-right 0.3s; /* Smooth transition for padding-right */
}

.chatName {
  white-space: nowrap;
  overflow: hidden;
  padding: 4px 4px 4px 8px;
  text-overflow: ellipsis;
  max-width: 100%; /* Adjust this value as needed */
  display: block;
}

.iconContainer {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 2px; /* Adjust the gap between the icons */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.chatItem:hover .iconContainer {
  opacity: 1;
  visibility: visible;
}

.editIcon,
.deleteIcon {
  transition: opacity 0.3s, visibility 0.3s;
}

/* Override display: table with display: block */
.viewport > div {
  display: block !important;
}
