x-daprdimage: &daprdimage
  image: daprio/daprd:1.13.4
  volumes:
    - ./src/dapr/components/:/components
    - ./src/dapr/configuration/:/configuration

services:
  ##############################################
  #           Dapr placement service           #
  ##############################################
  placement:
    image: daprio/dapr:1.13.4
    container_name: placement-lxi
    command: ["./placement", "-port", "50006"]
    ports:
      - 50000:50006

  ##############################################
  #                   RabbitMQ                 #
  ##############################################
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-lxi
    healthcheck:
      test: rabbitmq-diagnostics -q ping && rabbitmq-diagnostics -q status
      interval: 30s
      timeout: 30s
      retries: 3
    ports:
      - 5672:5672
      - 15672:15672

  ##############################################
  #                   MongoDB                  #
  ##############################################
  mongo:
    image: mongo:7
    container_name: mongo-lxi
    command: [--replSet, rs0, --bind_ip_all, --port, "27017"]
    ports:
      - 27017:27017
    healthcheck:
      test: test $$(mongosh --port 27017 --quiet --eval "try {rs.initiate({_id:'rs0',members:[{_id:0,host:\"mongo:27017\"}]})} catch(e) {rs.status().ok}") -eq 1
      interval: 10s
      start_period: 30s
    volumes:
      - mongodb-data:/data/keyfile

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express-lxi
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo-lxi
    depends_on:
      mongo:
        condition: service_healthy

  ##############################################
  #                   ChromaDB                 #
  ##############################################
  chromadb:
    #image: chromadb/chroma:0.5.16
    image: ghcr.io/lxi/chromadb:dev
    container_name: chromadb-lxi
    build:
        context: ./src/chromadb
        dockerfile: Dockerfile
        tags:
        - ghcr.io/lxi/chromadb:dev
    ports:
      - 8000:8000
    command: "--workers 1 --host 0.0.0.0 --port 8000 --proxy-headers --log-config chromadb/log_config.yml --timeout-keep-alive 30"
    environment:
      - ALLOW_RESET=True
      - IS_PERSISTENT=True
      - CHROMA_SERVER_AUTHN_CREDENTIALS_FILE=/chroma/server.htpasswd
      - CHROMA_SERVER_AUTHN_PROVIDER=chromadb.auth.basic_authn.BasicAuthenticationServerProvider
      - ENV REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
      - ENV SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    volumes:
      - chroma-data:/chroma/chroma
      - ./src/chromadb/server.htpasswd:/chroma/server.htpasswd
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/api/v1/heartbeat || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  ###################################################
  #                     QRY API                     #
  ###################################################
  lxi-qry-api:
    image: ghcr.io/lxi/qry-api:dev
    build:
      context: ./src/qry-api/
      dockerfile: Dockerfile
      args:
        AZDO_PAT: ${AZDO_PAT}
      tags:
        - ghcr.io/lxi/qry-api:dev
    ports:
      - 6001:8001
    environment:
      - DEBUGGING=False
      - PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
      - ENV REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
      - ENV SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    depends_on:
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ./src/qry-api/src/.docker-compose.env:/app/.env
      - ./src/qry-api/src/.config/.openai_config.json:/app/.config/.openai_config.json

  lxi-qry-api-dapr:
    <<: *daprdimage
    command: [
      "./daprd",
      "--app-id", "lxi-qry-api",
      "--placement-host-address", "placement:50006",
      "--app-port", "8001",
      "--resources-path", "/components",
      "--config", "/configuration/config.yaml" ]
    depends_on:
      - lxi-qry-api
    network_mode: service:lxi-qry-api

  ###################################################
  #                 EMBEDDINGS API                  #
  ###################################################
  lxi-embeddings-api:
    image: ghcr.io/lxi/embeddings-api:dev
    extra_hosts:
      - "host.docker.internal:host-gateway"
    build:
      context: ./src/embeddings-api/
      dockerfile: Dockerfile
      args:
        AZDO_PAT: ${AZDO_PAT}
      tags:
        - ghcr.io/lxi/embeddings-api:dev
    ports:
      - 6002:8001
    environment:
      - DEBUGGING=False
      - PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
      - ENV REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
      - ENV SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    depends_on:
      chromadb:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ./src/embeddings-api/src/.docker-compose.env:/app/.env
      - ./src/embeddings-api/src/.config/openai_config.json:/app/.config/openai_config.json
      - ./.tmp/repos/:/.tmp/repos/

  lxi-embeddings-api-dapr:
    <<: *daprdimage
    command: [
      "./daprd",
      "--app-id", "lxi-embeddings-api",
      "--placement-host-address", "placement:50006",
      "--app-port", "8001",
      "--resources-path", "/components",
      "--config", "/configuration/config.yaml" ]
    depends_on:
      - lxi-embeddings-api
    network_mode: service:lxi-embeddings-api

  ###################################################
  #       Workflows Api Service + Dapr sidecar      #
  ###################################################
  lxi-workflows-api:
    image: ghcr.io/lxi/workflows-api:dev
    build:
      context: src/workflows-api/
      dockerfile: Dockerfile
      tags:
        - ghcr.io/lxi/workflows-api:dev
    ports:
      - "6003:8001"
    environment:
      - DEBUGGING=False
      - ENV REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
      - ENV SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    depends_on:
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  lxi-workflows-api-dapr:
    <<: *daprdimage
    command: [ "./daprd",
      "--app-id", "lxi-workflows-api",
      "--app-port", "8001",
      "--placement-host-address", "placement:50006",
      "--resources-path", "/components",
      "--config", "/configuration/config.yaml" ]
    depends_on:
      - lxi-workflows-api
    network_mode: service:lxi-workflows-api

  ##############################################
  #           UI API + Dapr sidecar            #
  ##############################################
  lxi-ui-api:
    image: ghcr.io/lxi/ui-api:dev
    build:
      context: ./src/ui-api
      dockerfile: Dockerfile
      tags:
        - ghcr.io/lxi/ui-api:dev
    environment:
      - ASPNETCORE_URLS=http://+:5000
    depends_on:
      placement:
        condition: service_started
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ./src/ui-api/appsettings.docker-compose.json:/app/appsettings.json
    ports:
      - 5000:5000

  lxi-ui-api-dapr:
    <<: *daprdimage
    command: [
      "./daprd",
      "--app-id", "lxi-ui-api",
      "--placement-host-address", "placement:50006",
      "--app-port", "5000",
      "--resources-path", "/components",
      "--config", "/configuration/config.yaml" ]
    depends_on:
      - lxi-ui-api
    network_mode: service:lxi-ui-api

  ##############################################
  #                     UI                     #
  ##############################################
  lxi-ui:
    image: ghcr.io/lxi/ui:dev
    build:
      context: ./src/ui
      dockerfile: Dockerfile
      tags:
        - ghcr.io/lxi/ui:dev
    volumes:
      - ./src/ui:/app
      - ./src/ui/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8080:8080
    depends_on:
      - lxi-ui-api

networks:
  default:
    driver: bridge

volumes:
  pgdata: {}
  node_modules: {}
  mongodb-data:
  chroma-data:
    driver: local
