agntsmth-core==0.1.5
chardet
dapr-ext-fastapi-dev
environs
fastapi
httpx
langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain_core
langgraph
requests
sentence-transformers
tiktoken
torch>=1.11.0
typing-extensions
uvicorn
