<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Warn"
  internalLogFile="/usr/local/logs/Lxi-API.nog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="Layout">
    <layout type="JsonLayout" includeAllProperties="true" includeMdlc="true" includeGdc="true" indentJson="true">
      <attribute name="Timestamp" layout="${longdate:universalTime=true}" />
      <attribute name="Level" layout="${level:uppercase=true}" />
      <attribute name="TraceId" layout="${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}" />
      <attribute name="Message" layout="${message}" encode="false" />
      <attribute name="LoggedFrom" layout="${logger}" />
      <attribute name="Exception" layout="${exception:format=ToString,Data:maxInnerExceptionLevel=10:innerFormat=ShortType,Message,Method,StackTrace:separator=\n}" encode="false" />
      <attribute name="ExceptionType" layout="${exception:format=Type}" />
      <attribute name="ExceptionMessage" layout="${exception:format=Message}" />
    </layout>
  </variable>

  <targets>
    <target name="Console" type="Console" layout="${Layout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>
